body
{
	margin:0px;
	padding:5rem;
	background-color: indianred;
	color: white;
}
#guessBox
{
	width:150px;
	height:100px;
	margin-left:auto;
	margin-right:auto;
	background-color: white;
	text-align: center;
	margin-top: -5rem;
}


h1
{
	text-align: center;
}
#reset
{
	font-size:1rem;	
	font-weight:bolder;
	height: 100%;
}

#result
{
	width: 84px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
}
